@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    background: url('pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

#cptr{
    position: fixed;
    right: 0;
    top: 0;
    height: 115%;
    transform: scaleX(-1);
    pointer-events: none;

}

nav{
    position: fixed;
    top: 0;
    font-size: larger;
    background-color: #0033cc;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
}

a:hover{
    color: lightgray;
}

a:active{
    color:white;
}

@media screen and (min-width: 1150px){ 
    header{
        position: fixed;
        top: 40%;
        left: 25%;
        font-size: larger;
        color: white;
    }
}
@media screen and (max-width: 1150px){ 
    header{
        position: fixed;
        top: 40%;
        left: 40%;
        margin: 0 auto;

        font-size: larger;
        color: white;
    }
}
/* #h-page{
    display: flex;
    justify-content: space-around;
} */
